<h1>
  Washington, D.C!
</h1>

<div class="locationstuff">
  Humidity: {{ humidity }}
  <br> Temperature(Avg): {{ avg }}
  <br> Temperature(High): {{ high }}
  <br> Temperature(Low): {{ low }}
  <br> Status: {{ status }}
  <div class="emptybox"></div>
  <img src="https://s3st2.openlistings.com/images/properties/v2/59e5187c71a60956f66e75b9/x/400/59e518bc71a6093130f3f902.jpeg"
    alt="https://s3st2.openlistings.com/images/properties/v2/59e5187c71a60956f66e75b9/x/400/59e518bc71a6093130f3f902.jpeg" width="400"
    height="300">
</div>