<h1>
  Seattle, WA!
</h1>

<div class="locationstuff">
  Humidity: {{ humidity  }}<br>
  Temperature(Avg): {{ avg }}<br>
  Temperature(High): {{ high }}<br>
  Temperature(Low): {{ low }}<br>
  Status: {{ status }}
  <div class="emptybox"></div>
  <img src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/06/20/104540684-GettyImages-530874379.1910x1000.jpg"
    alt="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/06/20/104540684-GettyImages-530874379.1910x1000.jpg" width="400"
    height="300">
</div>
